{
 "parser": "babel-eslint",
 "env": {
    browser: true
  },
 "extends": "airbnb",
 "rules": {
   "import/no-named-as-default": "off",
   "react/jsx-filename-extension": "off",
   "no-underscore-dangle": "off",
   "react/require-default-props": "off",
   "jsx-a11y/click-events-have-key-events": "off",
   "jsx-a11y/interactive-supports-focus": "off",
   "jsx-a11y/anchor-is-valid": "off",
   "import/no-named-as-default-member": "off",
   "jsx-a11y/no-noninteractive-element-interactions": "off",
   "react/prop-types": "off",
 }
}
