.App-logo {
  margin-top: 2px;
  margin-left: 2px;
}

.App-header {
  height: 25px;
  background-color: #ff6600;
  margin-top: 8px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.App-title {
  display: inline-block;
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.App-menu {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.App-body {
  background-color: #f6f6ef;
  margin: auto;
  width: 85%;
  height: 1000px;
}
