.CommentEdit {
  font-style: Verdana, Geneva, sans-serif;
  color: #828282;
}

.CommentEdit fieldset {
  padding-left: 0;
  border: 0;
}

.CommentEdit input {
  height: 15px;
  width: 375px;
}

.CommentEdit-text {
  display: flex;
}

.CommentEdit-text textarea {
  margin-top: 8px;
  height: 60px;
  width: 375px;
}
