.CommentEdit {
  font-style: Verdana, Geneva, sans-serif;
  color: #828282;
}

.CommentEdit fieldset {
  border: 0;
}

.CommentEdit-text {
  display: flex;
}

.CommentEdit-text textarea {
  margin-top: 8px;
  height: 60px;
  width: 375px;
}

.CommentEdit-button {
  margin-left: 12px;
}
