.PostSubmit {
  font-style: Verdana, Geneva, sans-serif;
  color: #828282;
}

.PostSubmit fieldset {
  border: 0;
}

.PostSubmit label {
  display: flex;
  margin-right: 35px;
  font-size: 16px;
  margin-top: 10px;
}

.PostSubmit-title {
  height: 15px;
  width: 375px;
}

.PostSubmit-text label {
  font-size: 16px;
}

.PostSubmit span {
  width: 70px;
}

.PostSubmit-text textarea {
  height: 60px;
  width: 375px;
}

.PostSubmit-button {
  margin-left: 80px;
}
