.Post {
  font-family: Verdana, Geneva, sans-serif;
  padding: 4px;
  width: 100%;
}

.Post-line-one {
  font-size: .9em;
}

.Post-logo {
  height: 14px;
  width: 14px;
  padding-right: 5px;
}

.Post-number {
  color: #828282;
}

.Post-line-two {
  font-size: .8em;
  margin-top: 2px;
  margin-left: 38px;
  color: #828282;
}

.PostSubmit {
  font-style: Verdana, Geneva, sans-serif;
  color: #828282;
}

.PostSubmit fieldset {
  border: 0;
}

.PostSubmit label {
  display: inline-block;
  margin-top: 4px;
  font-size: 16px;
  width: 30px;
}

.PostSubmit input {
  height: 15px;
  width: 375px;
}

.PostSubmit p {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 30px;
}

.PostSubmit-text {
  display: flex;
}

.PostSubmit-text label {
  margin-top: 24px;
}

.PostSubmit-text textarea {
  height: 60px;
  width: 375px;
}

.PostSubmit-button {
  margin-left: 40px;
}
